#box_outer{
	background-color:#f6f6ff;
	text-align: center;
	width:100%;
	float:left;
}
/*----start clone----*/
.box_row{
width:100%;
height:20%;
}
.button{
border-width:2px; 
border-radius:50px;
width:30%;
height:100%;
background-color:#3709ef;
font-size: 20px;
}
/*#box_outer input[type="submit"]:hover {
  background: #1ad1ff;
}*/

/*------------slider-----------------------*/
.slidecontainer {
  width: 100%;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 25px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #e8f00e;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #e8f00e;
  cursor: pointer;
}
